@import url("https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
	background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-family: "Vibur", cursive;
	font-family: "Abel", sans-serif;
	opacity: 0.95;
	width: 96%;
	margin: 0 auto;
	height: auto;
	/* background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%); */
}

.form {
	max-width: 480px;
	border-radius: 5px;
	margin: 2% auto;
	box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
	padding: 2%;
	width: 100%;
	background-image: linear-gradient(-225deg, #e3fdf5 50%, #ffe6fa 50%);
}

.con {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 auto;
}

header {
	margin: 2% auto 10% auto;
	text-align: center;
}

header h2 {
	font-size: 240%;
	font-family: "Playfair Display", serif;
	color: #3e403f;
}

header p {
	letter-spacing: 0.05em;
	font-size: 110%;
}

.input-item {
	background: #fff;
	color: #333;
	padding: 14.5px 0px 15px 9px;
	border-radius: 5px;
}

.form-input {
	display: block;
	width: 340px;
	height: 60px;
	margin-top: 8px;
	padding: 20px;
	font-size: 18px;
	font-family: "Abel", sans-serif;
	color: #5e6472;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: 0.2s linear;
}

input:focus {
	transform: translateX(-2px);
	border-radius: 5px;
}

.field-set {
	font-family: "Abel", sans-serif;
	color: #5e6472;
}

.select-duration {
	display: block;
	width: 340px;
	height: 60px;
}

.select-date {
	display: block;
	width: 340px;
	height: 60px;
}

.date {
	margin: 0;
	display: block;
	height: 60px;
	float: left;
	padding: 18px;
	text-align: center;
	font-size: 18px;
	background: #fff;
	margin-top: 8px;
	cursor: pointer;
	border-radius: 5px;
}

#day-btn {
	width: 100px;
	margin-right: 8px;
}

#month-btn {
	width: 100px;
	margin-right: 8px;
}

#year {
	width: 124px;
}

.duration {
	margin: 0;
	display: block;
	height: 60px;
	float: left;
	padding: 18px;
	font-size: 18px;
	width: 166px;
	text-align: center;
	background: #fff;
	margin-top: 8px;
	cursor: pointer;
	border-radius: 5px;
}

.duration:first-child {
	margin-right: 8px;
}

.dur-selected {
	width: 229px;
	transition: width 1s ease;
	background-color: #fff5e5;
}

.dur-unselected {
	width: 103px;
	transition: width 1s ease;
}

.select-field {
	width: 340px;
	min-height: 200px;
}

.date-input-month {
	margin: 0;
	display: block;
	height: 60px;
	float: left;
	padding: 18px;
	font-size: 18px;
	width: 166px;
	text-align: center;
	background: #fff;
	margin-top: 8px;
	margin-right: 0px;
	cursor: pointer;
	border-radius: 5px;
	transition: all 1s ease;
}

.date-input-month:first-child {
	margin-right: 8px;
}

.date-input-day {
	margin: 0;
	margin-top: 20px;
	display: block;
	height: 40px;
	float: left;
	padding: 10px;
	font-size: 18px;
	width: 43px;
	margin-right: 6.5px;
	text-align: center;
	background: #fff;
	margin-top: 7px;
	cursor: pointer;
	border-radius: 5px;
	transition: all 1s ease;
}

.date-input-day-filler {
	margin: 0;
	margin-top: 20px;
	display: block;
	height: 40px;
	float: left;
	padding: 10px;
	font-size: 18px;
	width: 43px;
	margin-right: 6.5px;
	text-align: center;
	margin-top: 7px;
	transition: all 1s ease;
}

.date-input-day-weekend {
	color: #a54a5e;
}

.date-input-day-sunday {
	margin-right: 0px;
}

.date-weekday {
	margin: 0;
	margin-top: 20px;
	display: block;
	height: 30px;
	float: left;
	padding: 6px;
	font-size: 18px;
	width: 43px;
	margin-right: 6.5px;
	text-align: center;
	margin-top: 10px;
	transition: all 1s ease;
}

.date-weekday:nth-child(7) {
	margin-right: 0px;
}

.date-input-time {
	margin: 0;
	display: block;
	height: 40px;
	float: left;
	padding: 10px;
	font-size: 18px;
	width: 166px;
	text-align: center;
	background: #fff;
	margin-top: 8px;
	margin-right: 8px;
	cursor: pointer;
	border-radius: 5px;
	transition: all 1s ease;
}

.date-input-time:nth-child(2n) {
	margin-right: 0px;
}

.time-selected {
	margin: 0;
	display: block;
	height: 60px;
	float: left;
	padding: 18px;
	font-size: 18px;
	width: 340px;
	text-align: center;
	background: #fff;
	margin-top: 8px;
	margin-right: 4px;
	cursor: pointer;
	border-radius: 5px;
	transition: all 1s ease;
}

.btn-field {
	float: left;
	color: #252537;
	width: 340px;
}

button {
	float: left;
	color: #252537;
	width: 340px;
	height: 60px;
	padding: 0 20px;
	font-size: 18px;
	background: #fff;
	border-radius: 5px;
	outline: none;
	border: none;
	cursor: pointer;
	text-align: center;
	transition: all 0.2s linear;
	margin: 7% auto;
	letter-spacing: 0.05em;
}

#selectTimeBtn {
	margin-right: 8px;
}

button:hover {
	transform: translatey(3px);
	box-shadow: none;
}

button:hover {
	animation: ani9 0.4s ease-in-out infinite alternate;
}
/*
@keyframes ani9 {
	0% {
		transform: translateY(3px);
	}
	100% {
		transform: translateY(5px);
	}
}
*/
#email-input {
	display: none;
}
